.input-wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 0.5rem 0;
}

label {
  font-size: 1.4rem;
  padding-bottom: 0.4rem;
  text-transform: uppercase;
}

input,
textarea {
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  background-color: rgb(87 83 78);
  color: white;
  font-size: 1.6rem;
}
